// Specific CSS for your home-page
.banner {
  background-color: $purple;
  align-items: center;
  max-height: calc(100vh - #{$navbar-height} - #{$navbar-universe-height} - #{$container-info-height})
}

.banner-img {
  width: 50%;
  object-fit: contain;
  max-height: calc(100vh - #{$navbar-height} - #{$navbar-universe-height} - #{$container-info-height})
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: bold;
  width: 60%;
}


h3 {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
.mb-2, .my-2 {
    margin-bottom: 2.5rem !important;
}

.mt-5, .my-5 {
    margin-top: 6rem !important;
}

.mb-4, .my-4 {
    margin-bottom: 3.5rem !important;
}

.p-3 {
    padding: 1rem !important;
    color: white;
}


.banner p {
  font-size: 23px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-win {
  height: 300px;
  width: 720px;
  background-color:#2e2a28;
  border-radius: 10px;
  margin: 0 auto;

}

.image-win {
  height: 360px;
  width: 1500px;
  background-size: cover;
  padding: 112px;
  border-radius: 10px;
  opacity: 0.95;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-home {
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.container-info {
  background-color: $purple;
  border-color: white;
  border-width: 5px;
  font-size: 30px;
  color: white;
  height: $container-info-height;
}

.homepage-card {
  width: 200px;
  p {
    margin-top: 10px;
  }
}

.homepage-cards {
  min-width: 600px;
  max-width: 1400px;
  margin: 0 auto;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
