.bodyshow {
  background-color: white;
}
/* Header/Blog Title */
.headerprojectsshow {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 50%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 45%;
  padding-left: 8px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.cardprojectsshow {
  // background-color: #F4F4F4;
  padding: 20px;
  margin-top: 20px;
  // width: 600px;
}

.cardprojectsshowsharecalculator {
  // background-color: #F4F4F4;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.btnshow {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

/* Green */
.addcartbutton {
  border-color: #04AA6D;
  color: green;
}

.success:hover {
  background-color: #04AA6D;
  color: white;
}


#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 80%;
  height: 30px;
  background-color: rgb(65, 34, 179);
}

.column3 {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */

.under {
  text-decoration: underline rgb(36, 28, 28);
  margin-bottom: 10px;
}

