.data {
  width: 300px;
  height: 200px;
  position: absolute;
  left: 50%;
  bottom: -50%;
  transform: translateX(-50%);
  background-color: whitesmoke;
}

.data ul {
  text-align: start;
}

.project-card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.project-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.newproject{
  margin-top: 170px;
}
