.whoami-box{
  background: #5353EC;
  box-shadow: 0 0 5px #5353EC;
  height: 400px;
  padding: 48px;
  border-radius: 30px;
  color: white;
}

.data {
  width: 300px;
  height: 200px;
  position: absolute;
  left: 50%;
  bottom: -25%;
  transform: translateX(-50%);
  background-color: rgb(230, 228, 255);
  box-shadow: 0 0 5px #5353EC;
  border-radius: 30px;
  padding-top: 4px;
}

.data ul {
  text-align: start;
  color: #5353EC;
}

.project-card {
  overflow: hidden;
  height: 160px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.project-card:hover{
  box-shadow: 0 0 15px #5353EC;
}

.project-card img {
  height: 100%;
  width: 160px;
  object-fit: cover;
  margin-right: 24px;
}


.newproject{
  margin-top: 170px;
  grid-template-columns: 1fr 1fr;
}

.creator{
  margin-top: 24px;
}
