<%= render 'shared/navbar_univers' %>

<div class="banner-home d-flex p-5" >
  <div class="container" style="background-color:transparent;">
  <h1 class="p-3"><strong>Be a YouTuber's favorite investor </strong></h1>
  <br>
  <p>Finance their videos, and share profits when they're successful! 🏆</p>
  <a class="btn btn-outline-light px-5 mt-4 py-2 rounded-pill" href="/users">Invest</a>
  </div>
  <%= image_tag "Homepage-transparent.png", class:"banner-img", style:"position:absolute; right:0; top: 0;" %>
</div>

<div class="container mb-1 mx-auto w-80 mt-4 bg-white">
  <h1 id='anchor', class="text-center mb-2 text-center">How it <mark class = "purple"> Works</mark> </h1>
  <div class="homepage-cards d-flex justify-content-between mb-4">
    <div class="homepage-card">
      <h3><strong>Choose a<mark class = "purple"> creator</mark></strong></h3>
      <p class="text-center">Search and choose creators from your favourite genre</p>
    </div>
    <div class="homepage-card">
      <h3 class="text-center"><strong> Invest in
      <mark class = "purple">videos</mark> </strong></h3>
      <p class="text-center">Finance the videos that interest you, and decide how much you'd like to invest</p>
    </div>
    <div class="homepage-card text-center">
      <h3 class="text-center mt-3"><strong>Reap the<mark class = "purple"> Rewards</mark></strong></h3>
      <p class="text-center">Once the video is launched, keep track of whether the video is successful and how much money you make</p>
    </div>
  </div>
</div>
<div>



<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container-footer">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->

          <!--Grid column-->

          <!--Grid column-->

          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>

    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

