<div class="container">
  <div class="row py-4">
    <div class="col d-flex flex-column justify-content-center align-items-center">
      <%# <h1>Checkout summary</h1> %>
      <%# <p> Are you sure to pay for <strong><%= humanized_money_with_symbol(@order.amount) %></strong></p>
      <%#= raise %>
      <button id="pay" class="btn purchase-button mb-5 rounded-pill w-25">Let's pay!</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
