.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;

}

.avatar :hover

.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 20px;
  // border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  border-radius: 10% ;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-creator-page{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.4);
  position: absolute;
  left: 32px;
  bottom: 120px;
  top: auto;
  object-fit: cover;
  object-position: top;
}
