.creator-banner{
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  position: relative;
  align-items: center;
  background-size: contain;
  background-position: top;
  height: 360px;
  background-repeat: no-repeat;
  background-color: #5353ec;
}

.creator-banner h1{
  color: white;
  margin-left: 160px;
}



.banner-index{
  height: 360px;
  overflow: visible;
  //box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  position: relative;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $purple;
  background-position: center;
  background-position-x: 50vw;
}

.fas.fa-search {
  color: $purple;
}

.banner-dashboard {
    height: 300px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  position: relative;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.banner-img {
  height: 200px;
}
