.creator-banner{
  height: 120px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  position: relative;
  align-items: center;
  background-size: cover;
  background-position: center;
  height: 235px;

}


.banner-index{
  height: 300px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  position: relative;
  align-items: center;
  background-size: cover;
  background-position: center;
}
