.cards-index {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 24px;
  font-weight: bold;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  background-color: white
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}


.card-hover:hover{
  transform: scale(1.03);

  //box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


.card-product {
  overflow: hidden;
  // box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  border-radius: 6%;
  height: 300px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;

  &:hover {
    border: 2px solid $purple;
    h2 {
      animation: slideName .3s ease forwards;
    }
  }


}


.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: white;
  position: relative;
  z-index: 6;
  padding: 12px;
  transform: translateX(-330%);

  &:before {
    border-top: 134px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 0px solid $purple;
    border-left: 330px solid $purple;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
}

@keyframes slideName {
  0% {
    transform: translateX(-330%);
  }
  100% {
    transform: translateX(0%);
  }
}

.card-product p {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
  font-weight: lighter;
}


.card-product .card-product-infos {
  padding: 16px;
}

ul {
  list-style-type: none;
}

.card-header h3{
  color: #5353ec;
}

.badge-wrapper {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
}

.badge {
  padding: 0.4em 0.4em 0.6em 0.4em;
  font-size: 16px;
  background-color: #f8f9faba;
}

.badge-pill {
  border-radius: 14px;
}
