.cards-index {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}

.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  padding: 16px;
  min-height: 300px;
    border-radius: 2%;

  // display: flex;
  // align-items: center;
}

.card-product img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: top;
  margin-top: 45px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
  font-weight: lighter;
}


.card-product .card-product-infos {
  padding: 16px;
}


