.colored {
 &.pending {
   background-color: #F7F06D;
 }
 &.fundraising {
   background-color: #5353ec;
 }
  &.done {
    background-color: #9EE493;
  }
}

.profit-tag {
  margin-right: 40px;
}

#align {
  display: inline-block;
}

#long-btn {
  width: 125px;
}
