.investment-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2em;
  scroll-margin-top: 25vh;
  padding: 10px;
  > * {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  &.header {
    font-size: 1em;
    font-weight: lighter;
    opacity: 0.6;
    padding: 5px;
    > * {
      text-align: center;
    }
  }
}
.investment-row__img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.investment-row__name {
  flex: 0 0 350px;
}

.investment-row__amount, .investment-row__profit {
  flex: 0 0 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.investment-row__status {
  flex: 0 0 150px;
}
.status-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  border-radius: 3px;
  padding: 5px 15px;
  &.fundraising {
    background-color: $orange;
  }
  &.pending {
    background-color: $blue;
  }
  &.done {
    background-color: $green;
  }
}

.investment-row__cta {
  flex: 0 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;

}
