.navbar-lewagon {
  justify-content: space-between;
  background: $purple;
  text-decoration: none;
  height: $navbar-height;
  z-index: 20;
  position: relative;
}

.nav-link {
  white-space: nowrap;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 175px;
}

.search-input {
  margin-bottom: 38px;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa;
}

#navbarDropdown {
    cursor: pointer;
}
