
.navbar-universe{
  // border: 3px solid white;
  background-color: $purple;
  height: $navbar-universe-height;

}

.tabs-underlined {
  display: flex;
  align-items: center;

}

//.tabs-underlined .tab-underlined {
  // padding: 8px;
  // margin: 8px 16px;
  // // opacity: .4;
  // border-bottom: 4px solid transparent;
//}
.tabs-links {
  &:hover{
    text-decoration: none !important;
  }
}
.tab-underlined {
  color: white;
  text-decoration: none;
  cursor: pointer;
  //background-color: rgba(255,255,255,0.4);
  //border-radius: 5px;
  //padding: 9px 22px 6px 22px;
  transition: all ease 0.2s;
  &:hover{
    background-color: rgba(255,255,255,0.6);
    border-radius: 5px;
    padding: 9px 22px 6px 22px;
  }
}

.list-inline{
  justify-content: space-evenly;
  height: 72px;
}
